Repository moadpy/ci-cds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cache-backend-dependencies, cache-frontend-dependencies, validate-backend, validate-frontend, compile-backend, backend-unit-tests, frontend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, build-frontend, docker-build-backend, docker-build-frontend, backend-integration-tests

Path conditions:
  cache-backend-dependencies: any of: backend/**/*, Dockerfile
  cache-frontend-dependencies: any of: frontend/**/*, Dockerfile.frontend
  validate-backend: any of: backend/**/*, Dockerfile
  validate-frontend: any of: frontend/**/*, Dockerfile.frontend
  compile-backend: any of: backend/**/*, Dockerfile
  backend-unit-tests: any of: backend/**/*, Dockerfile
  frontend-unit-tests: any of: frontend/**/*, Dockerfile.frontend
  sonarqube-backend: any of: backend/**/*, Dockerfile
  dependency-security-scan: any of: backend/**/*, Dockerfile
  build-backend: any of: backend/**/*, Dockerfile
  build-frontend: any of: frontend/**/*, Dockerfile.frontend
  docker-build-backend: any of: backend/**/*, Dockerfile
  docker-build-frontend: any of: frontend/**/*, Dockerfile.frontend
  backend-integration-tests: any of: backend/**/*, Dockerfile

newV
  .gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/application-integration-test.properties
  backend/src/test/java/org/cicd/accountservice/controller/BankAccountControllerIntegrationTest.java
  frontend/bank-account-app/cypress.config.ts
  frontend/bank-account-app/cypress/e2e/bank-account-management.cy.ts
  frontend/bank-account-app/cypress/support/commands.ts
  frontend/bank-account-app/cypress/support/e2e.ts
  frontend/bank-account-app/package-lock.json
  frontend/bank-account-app/package.json
  nginx.conf
Due: cache-backend-dependencies, cache-frontend-dependencies, validate-backend, validate-frontend, compile-backend, backend-unit-tests, frontend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, build-frontend, docker-build-backend, docker-build-frontend, backend-integration-tests

newver
  .gitlab-ci.yml
Due: none

preview
  .gitlab-ci.yml
  backend/src/test/java/org/cicd/accountservice/controller/BankAccountControllerIntegrationTest.java
Due: cache-backend-dependencies, validate-backend, compile-backend, backend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, docker-build-backend, backend-integration-tests

new
  .gitlab-ci.yml
Due: none

vers
  .gitlab-ci.yml
Due: none

e
  backend/src/main/java/org/cicd/accountservice/AccountServiceApplication.java
  frontend/bank-account-app/src/app/services/bank-account.service.ts
Due: cache-backend-dependencies, cache-frontend-dependencies, validate-backend, validate-frontend, compile-backend, backend-unit-tests, frontend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, build-frontend, docker-build-backend, docker-build-frontend, backend-integration-tests

new
  frontend/bank-account-app/src/app/components/bank-account-form/bank-account-form.spec.ts
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.spec.ts
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

addkarma
  frontend/bank-account-app/angular.json
  frontend/bank-account-app/karma.conf.js
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

ne
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.ts
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

ew
  .gitlab-ci.yml
Due: none

eww
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.ts
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

m
  frontend/bank-account-app/karma.conf.js
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

e
  .gitlab-ci.yml
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.ts
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

y
  frontend/bank-account-app/src/app/app.spec.ts
  frontend/bank-account-app/src/app/components/bank-account-form/bank-account-form.spec.ts
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.spec.ts
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

y
  frontend/bank-account-app/karma.conf.js
  frontend/bank-account-app/src/app/app.spec.ts
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.spec.ts
Due: cache-frontend-dependencies, validate-frontend, frontend-unit-tests, build-frontend, docker-build-frontend

r
  .gitlab-ci.yml
  backend/src/main/java/org/cicd/accountservice/AccountServiceApplication.java
  frontend/bank-account-app/cypress.config.ts
  frontend/bank-account-app/src/main.ts
Due: cache-backend-dependencies, cache-frontend-dependencies, validate-backend, validate-frontend, compile-backend, backend-unit-tests, frontend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, build-frontend, docker-build-backend, docker-build-frontend, backend-integration-tests

debug
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.frontend
  frontend/bank-account-app/cypress/e2e/bank-account-management.cy.ts
  frontend/bank-account-app/cypress/support/commands.ts
  frontend/bank-account-app/cypress/support/e2e.ts
  frontend/bank-account-app/karma.conf.js
  frontend/bank-account-app/src/app/components/bank-account-list/bank-account-list.spec.ts
  nginx.conf
  owasp-suppressions.xml
Due: cache-backend-dependencies, cache-frontend-dependencies, validate-backend, validate-frontend, compile-backend, backend-unit-tests, frontend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, build-frontend, docker-build-backend, docker-build-frontend, backend-integration-tests

debug
  .gitlab-ci.yml
Due: none

de
  backend/src/main/java/org/cicd/accountservice/controller/BankAccountController.java
Due: cache-backend-dependencies, validate-backend, compile-backend, backend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, docker-build-backend, backend-integration-tests

debug
  backend/src/test/java/org/cicd/accountservice/controller/BankAccountControllerTest.java
Due: cache-backend-dependencies, validate-backend, compile-backend, backend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, docker-build-backend, backend-integration-tests

d
  .gitlab-ci.yml
Due: none

y
  .gitlab-ci.yml
  backend/src/test/java/org/cicd/accountservice/controller/BankAccountControllerIntegrationTest.java
Due: cache-backend-dependencies, validate-backend, compile-backend, backend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, docker-build-backend, backend-integration-tests

debug
  .gitlab-ci.yml
  backend/src/test/java/org/cicd/accountservice/AccountServiceApplicationTests.java
Due: cache-backend-dependencies, validate-backend, compile-backend, backend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, docker-build-backend, backend-integration-tests

deb
  .gitlab-ci.yml
Due: none

d
  .gitignore
  .gitlab-ci.yml
Due: none

d
  .gitlab-ci.yml
  backend/src/test/java/org/cicd/accountservice/AccountServiceApplicationTests.java
Due: cache-backend-dependencies, validate-backend, compile-backend, backend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, docker-build-backend, backend-integration-tests

l
  .gitlab-ci.yml
Due: none

y
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Revert "l"
  .gitlab-ci.yml
Due: none

f
  .gitlab-ci.yml
Due: none

c
  backend/src/test/java/org/cicd/accountservice/AccountServiceApplicationTests.java
  frontend/bank-account-app/src/main.server.ts
Due: cache-backend-dependencies, cache-frontend-dependencies, validate-backend, validate-frontend, compile-backend, backend-unit-tests, frontend-unit-tests, sonarqube-backend, dependency-security-scan, build-backend, build-frontend, docker-build-backend, docker-build-frontend, backend-integration-tests
