Repository moadpy/ci-cds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-and-build-backend, validate-and-build-frontend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend, docker-build-frontend

Path conditions:
  validate-and-build-backend: any of: backend/**/*, Dockerfile
  validate-and-build-frontend: any of: frontend/**/*, Dockerfile.frontend
  backend-unit-tests: any of: backend/**/*, Dockerfile
  backend-integration-tests: any of: backend/**/*, Dockerfile
  sonarqube-backend: any of: backend/**/*, Dockerfile
  package-backend: any of: backend/**/*, Dockerfile
  docker-build-backend: any of: backend/**/*, Dockerfile
  docker-build-frontend: any of: frontend/**/*, Dockerfile.frontend

f
  .gitlab-ci.yml
Due: none

r
  .gitlab-ci.yml
Due: none

newpipe
  .gitlab-ci.yml
  owasp-suppressions.xml
Due: none

newp
  backend/src/main/java/org/cicd/accountservice/service/BankAccountService.java
  frontend/bank-account-app/src/main.server.ts
Due: validate-and-build-backend, validate-and-build-frontend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend, docker-build-frontend

newbejob
  .gitlab-ci.yml
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
  frontend/bank-account-app/src/main.server.ts
Due: validate-and-build-backend, validate-and-build-frontend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend, docker-build-frontend

test1
  backend/src/main/java/org/cicd/accountservice/service/BankAccountService.java
  frontend/bank-account-app/src/main.server.ts
Due: validate-and-build-backend, validate-and-build-frontend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend, docker-build-frontend

test2
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
Due: validate-and-build-backend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend

test3
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
  frontend/bank-account-app/src/main.server.ts
Due: validate-and-build-backend, validate-and-build-frontend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend, docker-build-frontend

test3
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
Due: validate-and-build-backend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend

test4
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
Due: validate-and-build-backend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend

test5
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
  frontend/bank-account-app/src/main.server.ts
Due: validate-and-build-backend, validate-and-build-frontend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend, docker-build-frontend

vulncommit
  backend/pom.xml
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
Due: validate-and-build-backend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend

vulncom
  backend/src/main/java/org/cicd/accountservice/service/BankAccountServiceImpl.java
Due: validate-and-build-backend, backend-unit-tests, backend-integration-tests, sonarqube-backend, package-backend, docker-build-backend

Revise README for DevSecOps cloud-native platform
  README.md
Due: none

Add files via upload
  image.png
Due: none

Update README.md
  README.md
Due: none
